*{
    box-sizing: border-box;
}
.jumbotron{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    height: 980px;
    color: white;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1600738535506-48e151469152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
}
.jumbotron p{
    margin-top: 50px;
}
.jumbotron hr{
    width: 100px;
    border-color: white;
    border-width: 2px;
}
.jumbotron .btn{
    text-transform: uppercase;
}

/* Carousel Start */
.carousel{
    width: 50%;
    height: 95vh;
    margin: 30px auto;
}
.carousel h3{
    text-align: center;
    margin-bottom: 2em;
}
.carousel-item{
    width: 100%;
    height: 60vmin;
    overflow-y: hidden;
}
.carousel img {
    background-position: center;
    background-repeat: no-repeat;
}